@model MentoratNetCore.Models.RegisterViewModel
@{
    ViewBag.Title = "Inscription";
}

@using Microsoft.AspNet.Identity

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "FormRegister" }))
{
    @Html.AntiForgeryToken()
    <h4>Créer un nouveau compte.</h4>
            <hr />
            @Html.ValidationSummary()

            <ul id="fieldlist">
                <li>
                    @Html.LabelFor(m => m.UserName )
                     @Html.Kendo().TextBoxFor(m => m.UserName )                    
                </li>
                <li>
                    @Html.LabelFor(m => m.Prenom )                    
                     @Html.Kendo().TextBoxFor(m => m.Prenom )
                </li>
                <li>
                    @Html.LabelFor(m => m.Nom )                   
                     @Html.Kendo().TextBoxFor(m => m.Nom)
                <li>
                    @Html.LabelFor(m => m.Email )
                     @Html.Kendo().TextBoxFor(m => m.Email )
                </li>
                <li>
                    @Html.LabelFor(m => m.Password )
                    @Html.Kendo().TextBoxFor(m => m.Password ).HtmlAttributes(new { type="password"})
                </li>
                <li>
                    @Html.LabelFor(m => m.ConfirmPassword )
                    @Html.Kendo().TextBoxFor(m => m.ConfirmPassword).HtmlAttributes(new { type = "password" })
                </li>
                <li>
                    @Html.LabelFor(m => m.idCategorieUtilisateur)
                   @(Html.Kendo().DropDownListFor(model => model.idCategorieUtilisateur)
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("ObtenirCategorieUtisateur", "Account");
                        }).ServerFiltering(false);
                    })
                    .DataTextField("nomCat")
                    .DataValueField("noCat")
                    .HtmlAttributes(new { style = "width:320px; padding-bottom:.5em;" })
                )
                           
                </li>

                <li>
                    @Html.LabelFor(m => m.CopierDroitsDe )
                    @(Html.Kendo().DropDownListFor(model => model.CopierDroitsDe)                                            
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("ObtenirUtilisateurs", "Account");
                                }).ServerFiltering(false);
                            })
                            .DataTextField("NomPrenomUser")
                            .DataValueField("NoUser")
                            .HtmlAttributes(new { style = "width:320px" })
                            .Filter("contains")
                            
                                       //.SelectedIndex(0)
                                        //.AutoBind(false)
                                        )
                </li> 
                <li class="actions">
                    @(Html.Kendo().Button()
                .Name("btnSubmit")
                .SpriteCssClass("k-icon k-i-tick")
                .Content("Enregistrer")
                    )

                   @(Html.Kendo().Button()
        .Name("btnAnnuler")       
        .Icon("cancel")
        .Content("Annuler")
                )
                   
                </li>

            </ul>
}

<script>


    $("#btnSubmit").click(function ()
    {
        $("#FormRegister").submit();
    });

    $("#btnAnnuler").click(function (e) {
        e.preventDefault();
        window.location.href = '@Url.Content("~/Account/Utilisateurs")';
    });

    </script>

<style>

    #fieldlist {
        margin: 0;
        padding: 0;
    }

        #fieldlist li {
            list-style: none;
            padding-bottom: .7em;
        }

        #fieldlist label {
            display: block;
            padding-bottom: .3em;            
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

        #fieldlist input{
            width: 320px;
            /*max-width: 98%;*/
        }

        #fieldlist button{
            margin-top:15px;
            width:175px;
        }
     

    span.k-tooltip {
        margin-top: 5px;
        line-height: 1.7em;
        width: 100%;
        box-sizing: border-box;
        text-align: left;
    }
</style>




