@using Microsoft.AspNetCore.Identity
@using MentoratNetCore.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@* S.Bouchard - 2018-07-20
    Fonction pour déterminer si l'item du menu principal Telerik est autorizé à être affiché.
     N.B.: Dans .NetCore, non-support de ".SecurityTrimming(s => s.HideParent(true))")
     Code adapté de :
     - https://www.telerik.com/forums/securitytrimming-in-mvc-core-menu
     - https://stackoverflow.com/questions/40912729/check-if-a-user-has-permission-to-access-a-controller-action-before-accessing-i
     - https://stackoverflow.com/questions/32331157/replacement-for-helper-in-asp-net-5-asp-net-mvc-6
*@
@functions {

    private class AutorisationMenu
    {

        public bool Autorise { get; set; }
        public AutorisationMenu(string nomController, string nomAction)
        {
            // UrlActionContext urlActionContext = new UrlActionContext() { Action = nomAction, Controller = nomController };
            // Autorise = await Url.HasAccess(urlActionContext); // 
        }

    }


}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - Service de mentorat</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

    @*<link href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
        <link href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
        <link href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
        <link href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.blueopal.min.css" rel="stylesheet" type="text/css" />
        <link href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.dataviz.blueopal.min.css" rel="stylesheet" type="text/css" />
        <script src="http://kendo.cdn.telerik.com/2017.3.1026/js/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script> @*Info : https://cdnjs.com/libraries/js-cookie*@
    @*<script src="https://kendo.cdn.telerik.com/2017.3.1026/js/jszip.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2017.3.1026/js/kendo.all.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2017.3.1026/js/kendo.aspnetmvc.min.js"></script>
        <script src="http://kendo.cdn.telerik.com/2017.3.1026/js/cultures/kendo.culture.fr-CA.min.js"></script>
    *@
    <environment include="Development">
        <link href="~/lib/kendo-ui/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
        <link href="~/lib/kendo-ui/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
        <link href="~/lib/kendo-ui/styles/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
        <link href="~/lib/kendo-ui/styles/kendo.blueopal.min.css" rel="stylesheet" type="text/css" />
        <link href="~/lib/kendo-ui/styles/kendo.dataviz.black.min.css" rel="stylesheet" type="text/css" />

        <script src="~/lib/kendo-ui/js/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>
        <script src="~/lib/kendo-ui/js/jszip.min.js"></script>
        <script src="~/lib/kendo-ui/js/kendo.all.min.js"></script>
        <script src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"></script>
        <script src="~/lib/kendo-ui/js/cultures/kendo.culture.fr-CA.min.js"></script>
    </environment>

    <environment exclude="Development">
        <link href="~/lib/kendo-ui/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
        <link href="~/lib/kendo-ui/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
        <link href="~/lib/kendo-ui/styles/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
        <link href="~/lib/kendo-ui/styles/kendo.blueopal.min.css" rel="stylesheet" type="text/css" />
        <link href="~/lib/kendo-ui/styles/kendo.dataviz.black.min.css" rel="stylesheet" type="text/css" />

        <script src="~/lib/kendo-ui/js/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>
        <script src="~/lib/kendo-ui/js/jszip.min.js"></script>
        <script src="~/lib/kendo-ui/js/kendo.all.min.js"></script>
        <script src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"></script>
        <script src="~/lib/kendo-ui/js/cultures/kendo.culture.fr-CA.min.js"></script>
    </environment>
        <!--
                    Pour collecter les données d'analyse de l'utilisation de votre application par l'utilisateur final,
                    insérez le script suivant dans chaque page dont vous voulez effectuer le suivi.
                    Placez ce code juste avant la balise 	<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
        </head> de fermeture,
                    et avant tout autre script. Vos premières données apparaissent
                    automatiquement au bout de quelques secondes.
                    -->
        <script type="text/javascript">
            var appInsights = window.appInsights || function (config) {
                function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f; for (s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;)r("track" + i.pop()); return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"), config.disableExceptionTracking || (i = "onerror", r("_" + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t["_" + i](config, r, u, e, o), s }), t
            }({
                instrumentationKey: "2173af31-4eb9-4bf9-9e78-77e0e1a6e7b8"
            });

            window.appInsights = appInsights;
            appInsights.trackPageView();

            kendo.culture("fr-CA");

        </script>
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                @*<p class="site-title">@Html.ActionLink("CSC", "Index", "Accueil")</p>*@
                <p class="site-title"><a href="../"><img src="~/Images/CSC/logo-rvb.gif" width="137" height="40" border="0" /></a></p>
            </div>
            <div class="float-right">
                @*@using Microsoft.   *@
                @*@if (Request.IsAuthenticated)*@
                @if (SignInManager.IsSignedIn(User))
                {

                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                    }

                    @*<form asp-controller="Account" action="LogOff" area="" id="logoutForm" method="post">
                @Html.AntiForgeryToken()
            </form>*@


                    @(Html.Kendo().Menu()
                                                                                                                                                                  .Name("menuIntranet")
                                                                                                                                                                   //.SecurityTrimming(s => s.HideParent(true)) // PROPRIÉTÉ TELERIK NON-FONCTIONNEL DS .NET CORE
                                                                                                                                                                   .Items(items =>
                                                                                                                                                                   {
                                                                                                                                                                       items.Add()
                                                                                                                                                                       .Text("Bonjour " + @UserManager.GetUserAsync(User).Result.NomCompletUser + "!")
                                                                                                                                                                       .Action("Manage", "Account")
                                                                                                                                                                       .HtmlAttributes(new { title = "Manage" });


                                                                                                                                                                       items.Add()
                                                                                                                                                                       .Text("Mon dossier") // CustomAuthorizePageUtilisateurAttribute ...
                                                                                                                                                                       .Action("MonDossier", "Account").Visible(MentoratNetCore.Extensions.ExtensionUserCsc.ADesInscriptionsMentorat(User));

                                                                                                                                                                       items.Add()
                                                                                                                                                                        .Text("Mentorés")
                                                                                                                                                                        .Action("Index", "Assignation").Visible(User.IsInRole("PageMentores"));


                                                                                                                                                                       items.Add()
                                                                                                                                                                       .Text("Mentors")
                                                                                                                                                                       .Action("Index", "Mentors").Visible(User.IsInRole("GestionMentors"));

                                                                                                                                                                       items.Add()
                                                                                                                                                                       .Text("Interventions")
                                                                                                                                                                       .Action("Index", "InterventionsAdm").Visible(User.IsInRole("InterventionsAdm"));

                                                                                                                                                                       items.Add()
                                                                                                                                                                       .Text("Interventions")
                                                                                                                                                                       .Action("Index", "Interventions").Visible(User.IsInRole("Interventions"));

                                                                                                                                                                       items.Add()
                                                                                                                                                                       .Text("Paramètres")
                                                                                                                                                                       .Items(children =>
                                                                                                                                                                       {
                                                                                                                                                                           children.Add()
                                                                                                                                                                                .Text("Utilisateurs")
                                                                                                                                                                                .Action("Utilisateurs", "Account").Visible(User.IsInRole("PageUtilisateurs"));

                                                                                                                                                                           children.Add()
                                                                                                                                                                               .Text("Gestion des droits")
                                                                                                                                                                               .Action("ParametresDroits", "Account").Visible(User.IsInRole("ParametresDroits"));

                                                                                                                                                                       }
                                                                                                                                                                           ).Visible(User.IsInRole("PageUtilisateurs") || User.IsInRole("ParametresDroits"));


                                                                                                                                                                       items.Add()
                                                                                                                                                                       .Text("Déconnexion")
                                                                                                                                                                       .HtmlAttributes(new { onclick = "getElementById('logoutForm').submit()" });
                                                                                                                                                                   }

                                                                                                                                                                   )
                    )
                }
                else
                {
                    @(Html.Kendo().Menu()
                                                                                                                                                            .Name("menuVisiteurs")
                                                                                                                                                            .Items(items =>
                                                                                                                                                            {
                                                                                                                                                                items.Add()
                                                                                                                                                                .Text("Accueil")
                                                                                                                                                                .Action("Index", "Accueil");

                                                                                                                                                                items.Add()
                                                                                                                                                                .Text("Inscription")
                                                                                                                                                                .Action("Index", "Inscriptions");

                                                                                                                                                                items.Add()
                                                                                                                                                                .Text("Mentors")
                                                                                                                                                                .Action("Mentors", "Accueil");

                                                                                                                                                                items.Add()
                                                                                                                                                                .Text("En apprendre plus")
                                                                                                                                                                .Action("Fonctionnement", "Accueil");

                                                                                                                                                                items.Add()
                                                                                                                                                                .Text("Connexion")
                                                                                                                                                                .Action("Login", "Account", routeValues: null)
                                                                                                                                                                .HtmlAttributes(new { id = "loginLink" });
                                                                                                                                                            })
                    )
                }
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>

    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Coordination services-conseils</p>
            </div>
        </div>
    </footer>

    <style>
        footer {
            height: 35px;
        }

        #menuIntranet, #menuVisiteurs {
            border: 0px;
            background: none;
        }
    </style>

</body>



</html>
